alabaster==0.7.8
Babel==2.3.4
bitarray==0.8.1
blessings==1.6
boto==2.40.0
bz2file==0.98
Cerberus==0.9.2
CouchDB==1.0.1
cssselect==0.9.1
cycler==0.10.0
Django==1.9.6
django-rest==0.0.1
docutils==0.12
elasticsearch==2.3.0
Eve==0.7.5
Events==0.2.1
extras==0.0.3
factory-boy==2.7.0
fake-factory==0.5.7
Faker==0.1.4
fixtures==2.0.0
Flask==0.10.1
Flask-PyMongo==0.4.1
funcsigs==1.0.2
fuzzywuzzy==0.10.0
gensim==0.12.4
httpretty==0.8.10
imagesize==0.7.1
influxdb==2.12.0
ipaddress==1.0.16
itsdangerous==0.24
Jinja2==2.8
lettuce==0.2.21
linecache2==1.0.0
lxml==3.6.0
MarkupSafe==0.23
matplotlib==1.5.1
mlpy==0.1.0
mock==2.0.0
msgpack-python==0.4.7
nltk==3.2.1
numpy==1.11.0
parsimonious==0.6.2
pbr==1.9.1
psycopg2==2.6.1
pyftpdlib==1.5.1
Pygments==2.1.3
pygraphviz==1.3.1
Pykka==1.2.1
PyMonad==1.3
pymongo==3.2.2
pyparsing==2.1.1
pyquery==1.2.13
python-dateutil==2.5.3
python-mimeparse==1.5.2
python-subunit==1.2.0
pytz==2016.4
redis==2.10.5
Redis-DB==0.1.5
requests==2.8.1
Rx==1.2.6
RXPY==0.1.0
scikit-learn==0.17.1
scipy==0.17.0
simplejson==3.8.2
six==1.10.0
smart-open==1.3.2
snowballstemmer==1.2.1
Sphinx==1.4.1
sphinx-rtd-theme==0.1.9
SQLAlchemy==1.0.12
sure==1.2.24
testtools==2.1.0
tiger==0.3
traceback2==1.4.0
umsgpack==0.1.0
unittest2==1.1.0
urllib3==1.15.1
Werkzeug==0.15.3
